.button {
    -fx-position: relative;
    -fx-min-width: 150px;
    -fx-font-size: 16px;
    -fx-border-color: transparent;
    -fx-background-color: #f88f4c;
    -fx-text-fill: #fff;
    -fx-padding: 1em;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-transition: 0.2s;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-opacity: 1;
    -fx-letter-spacing: 1px;
}

.button:hover {
    -fx-background-color: #ffad6b;
}


.button2{
    -fx-position: relative;
    -fx-font-size: 12px;
    -fx-border-color: transparent;
    -fx-background-color: #f88f4c;
    -fx-text-fill: #fff;
    -fx-padding: 5px;
    -fx-font-weight: bold;
    -fx-text-transform: uppercase;
    -fx-transition: 0.2s;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}